---
import NavBar from "../components/NavBar.astro";
import MainLayout from "../layouts/MainLayout.astro";

const name = 'Denis Xavier Salazar Chacon';
const title = 'Mi pagina'
---
<MainLayout title="Home Page">
		<h1>{name}</h1>
		<p>Momento Actual: {new Date().toLocaleTimeString() }</p>
		<p id="currentHour">Momento Actual Real: </p>


		<script>
			
			const currentDate : string = new Date().toLocaleTimeString();
			const paragraph = document.getElementById('currentHour') as HTMLElement;
			paragraph.innerText = `Momento Actual Real: ${currentDate}`;

		</script>

</MainLayout>